#wrapper {
  padding-top: 10%;
  margin: 0 10%;
}
#nav-container {
  /* position: relative; */
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#bottom-nav {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  position: fixed;
  bottom: 0%;
}

#bottom-nav .copyright {
  margin: 10px 0;
}

#bottom-nav li {
  font-size: 1.3rem;
  list-style: none;
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
}

#bottom-nav a {
  position: relative;
  color: white;
  text-decoration: none;
}
#bottom-nav a::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scale(0);
  transform-origin: left;
  translate: transform ease 500ms;
}

#bottom-nav a:hover {
  transition: ease 500ms;
  color: #886bcc;
}
#bottom-nav a:hover::after {
  transform: scale(1);
  transition: 500ms ease;
  background-color: lightgreen;
}

/* Small iphones */
@media only screen and (max-width: 320px) {
  #bottom-nav li {
    padding: 0 8px;
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 375px) {
  /* #bottom-nav {
    bottom: 20px;
  } */
}

@media only screen and (max-width: 600px) {
  #bottom-nav {
    margin-bottom: 10px;
  }
  #bottom-nav li {
    font-size: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-height: 420px) {
  #wrapper {
    padding-top: 5%;
    position: relative;
  }
  #bottom-nav {
    position: absolute;
    bottom: -150px;
  }
}
/* @media only screen and (min-width: 600px) {
  ...;
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #wrapper {
    padding-top: 12%;
  }
}
@media only screen and (min-height: 1024px) {
  #bottom-nav {
    bottom: 12%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
  ...;
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  ...;
} */
@media only screen and (min-width: 1200px) {
  #wrapper {
    padding-top: 8%;
  }
}
@media only screen and (min-height: 1360px) {
  #bottom-nav {
    bottom: 35%;
  }
}
